<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title><%= percentBlocked %>% Интернета заблокировано</title>
    <meta name="description" content="Счетчик блокировки Интернета Роскомнадзором" />
    <meta property="og:title" content="Счетчик блокировки Интернета" />
    <meta property="og:description" content="Счетчик блокировки Интернета Роскомнадзором" />
    <meta property="og:url" content="http://molitovka-live.no-ip.org:3000/" />
    <meta property="og:image" content="http://molitovka-live.no-ip.org:3000/pic300.png" />
    <link rel="shortcut icon" href="pic128.png" type="image/png" />
    <style>
        body {
            width: 100%;
            height: 100%;
            font-family: Helvetica, Arial, sans-serif;
        }

        main {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            text-align: center;
        }

        .number {
            font-size: 150px;
            color: #444444;
        }

        .text {
            font-size: 50px;
            color: #aaaaaa;
        }

        .text-small {
            font-size: 16px;
            color: #aaaaaa;
        }

        .info-block {
            margin-top: 42px;
        }
    </style>
</head>
<body>
    <main>
        <div class="number">
            <span class="js-percent"><%= percentBlocked %>%</span>
        </div>
        <div class="text">
            Интернета заблокировано
            <br />
            Роскомнадзором
        </div>
        <div class="text-small info-block">
            Это <span class="js-num"><%= numBlocked %></span> из <span class="js-total"><%= totalAddresses %></span> IP-адресов
        </div>
    </main>

    <script type="application/javascript">
        window.addEventListener('DOMContentLoaded', () => {
          const elPercent = document.getElementsByClassName('js-percent')[0];
          const elNum = document.getElementsByClassName('js-num')[0];
          const elTotal = document.getElementsByClassName('js-total')[0];
          const updateInterval = 30 * 1000;

          const update = () => {
            if (typeof window.fetch !== 'function') return;

            fetch('/api/data')
              .then(res => res.json())
              .then(data => {
                document.title = `${data.percentBlocked}% Интернета заблокировано`;
                elPercent.innerText = `${data.percentBlocked}%`;
                elNum.innerText = data.numBlocked;
                elTotal.innerText = data.totalAddresses;

                setTimeout(update, updateInterval);
              })
              .catch(() => {
                setTimeout(update, updateInterval);
              })
          }

          setTimeout(update, updateInterval);
        });
    </script>
</body>
</html>